
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <a href="/index.html">
              <img src="/static/assets/img/icons8-venn-diagram-100.png" class="mb-3 footer-logo" alt="main_logo">
              Southern Interests Inc
            </a>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Company</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/about-us.html">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  Blog (Coming Soon)
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Help & Support</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/contact-us.html" target="_blank"> <!--target="_blank" means it gets a new tab-->
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" >
                  Knowledge Center (Coming Soon)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  Custom Development (Coming Soon)
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
          <div>
            <h6 class="text-sm">Legal</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/contact-us.html">
                  Terms & Conditions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/privacy-policy.html">
                  Privacy Policy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" target="_blank">
                  Links and References (Coming Soon)
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; <a>Southern Interests</a> 
              <a class="font-weight-bold"> by Zachary Bonta</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


