{% extends "layouts/base.html" %}

{% block title %} Contact US {% endblock %} 

{% block body_class %} contact-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %} 
  <header>
    <br>
    <br> 
    <br>
    <br>
    <br>
  </header>

  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
            <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/static/assets/img/road-clouds.jpg'); background-size: cover;" loading="lazy"></div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
            <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                  <h3 class="text-white text-primary mb-0">Contact us</h3>
                </div>
              </div>
              <div class="card-body">
                <p class="pb-3">
                  Submit Contact information for immediate follow up for Southern Interests Consultation or Information
                </p>
                <form id="contact-form" method="post" autocomplete="on">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group input-group-dynamic mb-4">
                          <label class="form-label">First Name</label>
                          <input type="text" class="form-control" placeholder="" aria-label="First Name..." >
                        </div>
                      </div>
                      <div class="col-md-6 ps-2">
                        <div class="input-group input-group-dynamic">
                          <label class="form-label">Last Name</label>
                          <input type="text" class="form-control" placeholder="" aria-label="Last Name..." >
                        </div>
                      </div>
                    </div>
                    <div class="mb-4">
                      <div class="input-group input-group-dynamic">
                        <label class="form-label">Email Address</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                    <div class="input-group mb-4 input-group-static">
                      <label>Your message</label>
                      <textarea name="message" class="form-control" id="message" rows="4"></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-check form-switch mb-4 d-flex align-items-center">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                          <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">I agree to the <a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" class="btn bg-gradient-dark w-100">Send Message</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
