{% extends "layouts/base.html" %}

{% block title %} Template Page {% endblock %} 

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %} 

  <div class="page-header min-vh-80" style="background-image: url('/static/assets/img/blue-prints.jpg')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <h1 class="text-white">Data Modeling</h1>
            <h3 class="text-white">Intelligent Design for Modern Data</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Visual Representations of Data models</h2>
        <h3 class = "title">Real world examples of data modeling Part 1</h3>
      </div>
      <div style="width: 960px; height: 720px; margin: auto; position: relative;">
        <iframe allowfullscreen frameborder="0" style="width:960px; height:720px" src="https://lucid.app/documents/embedded/74c4671e-b38b-483d-8013-44070a8eafa5" id="s1uiCtSXh_sQ">
        </iframe>
      </div>
      <div class="container mt-sm-5">
        <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('/static/assets/img/.jpg');" loading="lazy">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 ms-lg-5">
                <h1 class="text-white">Data Modeling for Production of Insight</h1>
                <p class="lead text-white opacity-8">Data models should be simple, elegant, and able to meet business needs. Here are some of our major modeling concepts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
        <!-- Section with four info areas left & one card right with image and waves -->
        <section class="py-7">
          <div class="container">
            <div class="row align-items-center">
                <div class="row justify-content-start">
                    <div class="col-md-6">
                      <div class="info">
                        <i class="material-icons text-3xl text-gradient text-info mb-3">connect_without_contact</i>
                        <h5>Business Requirements</h5>
                        <p>Gather Business Requirements, and split them into Facts, Dimensions, Attributes, Filters, and Measurements. Let the form fit the function of the model.</p>
                      </div>
                    </div>
                  <div class="col-md-6">
                    <div class="info">
                      <i class="material-icons text-3xl text-gradient text-info mb-3">hourglass_top</i>
                      <h5>Be Deliberate</h5>
                      <p>Delay the need to start coding until a robust design, timeline, and buy-in from the whole team are completed.</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="info">
                      <i class="material-icons text-3xl text-gradient text-info mb-3">read_more</i>
                      <h5>Test and Verify</h5>
                      <p>Develop, test, verify, validate, repeat. Each stage of modeling should follow a structured pattern to grow the model at a stable rate while maintaining trust in the output.</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="info">
                      <i class="material-icons text-3xl text-gradient text-info mb-3">enhanced_encryption</i>
                      <h5>Focus on Governance</h5>
                      <p>Develop a clear understanding of the audiences, users and stakeholders. This will help you use existing governance if possible, and create simple governance if needed.</p>
                    </div>
                  </div>
                </div>
                  <div class="col-md-6">
                    <div class="info">
                      <i class="material-icons text-3xl text-gradient text-info mb-3">zoom_in</i>
                      <h5>Identify the lowest level of Granularity</h5>
                      <p>If you start the construction of your model at the lowest level of granularity, you'll be able to peform calcuations, construct views, and enhance associated processes easily.</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="info">
                      <i class="material-icons text-3xl text-gradient text-info mb-3">flood</i>
                      <h5>Follow Data Modeling Best Practices</h5>
                      <p>Intelligent design that is constructed through a conceptual modle, then a logical model, then finally the physical model will reap dividends.</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="info">
                      <i class="material-icons text-3xl text-gradient text-info mb-3">waterfall_chart</i>
                      <h5>Allow Evolution</h5>
                      <p>All data models evolve; its a sign that your model is being used that it needs to be enhanced. </p>
                    </div>
                  </div>
                </div>
        </section>
        </div>

        <p><br></p>


        <div class="section text-center">
          <h3 class = "title">Real world examples of data modeling Part 2</h3>
        </div>

        <p><br></p>
        
      <div style="width: 960px; height: 720px; margin: auto; position: relative;">
        <iframe allowfullscreen frameborder="0" style="width:960px; height:720px" src="https://lucid.app/documents/embedded/a46fbae2-8944-4fcb-a1c1-c058a5b6edf6" id="D5uiZds_axOF">
        </iframe>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
